h3 {
    text-decoration-line: underline;
    text-decoration: solid;
    text-transform: capitalize;
}

h1 {
    text-decoration: underline;
    text-decoration: solid;
    text-transform: uppercase;
    text-align: center;
}

#pointless {
    list-style-type: none;
}

#pointless {
    list-style-type: armenian;
}